<h2>Movies</h2>
<b><%= flash[:notice] %></b>
<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Category title</th>
    <th>Rating average</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @category.each do |movie| %>
      <%= render 'movie_list', movie: movie %>
  <% end %>
  </tbody>
</table>
<br>